.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}

/* Clear floats after image containers */
/*.row::after {
  content: "";
  clear: both;
  display: table;
} */

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.bullbear-align {
  padding-top: 30px;
}
.text-align {
  /* display: inline-block; */
    margin-bottom: 1.5rem;
    line-height: 1.2;
    /* padding-top: 30px; */
    /* margin-left: 7rem; */
    margin-top: 1rem;
}

 .result-table {
  padding-top: 30px;
  margin-top: .1rem;
} 

.form-label {
  font-weight: 500;
}

.submit-button {
    margin-bottom: 1.5rem;
    margin-top: 3.5rem;
    margin-left: 32rem
}
.entry-submit-button {
  margin: 2rem 1rem 1rem 20rem;
}
.market-dropdown {
margin-left: 5rem;
padding-top: 16px;
}
.option-dropdown {
    margin-bottom: 1.5rem;
    line-height: 1.2;
    padding-top: 16px;
    margin-left: 26rem;
    margin-top: -6rem;
}